NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://lodefausti:lodefausti_dev_pass@localhost:5432/lodefausti_dev?schema=public
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
NEXT_PUBLIC_API_URL=http://localhost:4000
